@import url(https://minidiscordthemes.github.io/SettingsIcons/SettingsIcons.theme.css);
/*  */
.searchBarComponent__22760 {
  border-radius: 12px !important;
  padding-left: 10px;
}
/*  */
.searchBar_ff8800 {
  border-radius: 16px;
}
.peopleListItem_d14722 {
  margin-left: 20px;
  padding-left: 10px;
  margin-right: 10px;
  padding-right: 10px;
  border-radius: 0 !important;
  background-color: var(--background-modifier-hover) !important;
  border-bottom: 1px solid var(--background-accent);
  border-top: none;
}
.peopleListItem_d14722:hover {
  background-color: var(--background-modifier-selected) !important;
}
.peopleList__2379e .content__23cab > div[aria-hidden*="true"] + div.peopleListItem_d14722,
.peopleList__2379e .content__23cab:not(:has([aria-hidden*="true"] + div.peopleListItem_d14722)) > div:first-child {
  border-radius: 12px 12px 0 0 !important;
}
.peopleList__2379e .content__23cab > div:last-child {
  border-radius: 0 0 12px 12px !important;
  border-bottom: none;
}
.peopleList__2379e content__23cab > div:only-child {
  border-radius: 12px !important;
  border-bottom: none;
}
.item_e4ca95 {
  border-radius: 8px !important;
}
.itemCard__1f162, .section_efc22d, .body__83069 {
  border-radius: 16px !important;
}
.addFriendInputWrapper__4bf8e {
  border-radius: 16px;
}
/*  */
/* server list */
.guilds__2b93a .scroller__3d071 > .tutorialContainer__890ea .childWrapper__01b9c svg  {
  padding: 12px;
}
.guilds__2b93a .scroller__3d071 > .tutorialContainer__890ea .childWrapper__01b9c svg path {
  d: path("M12 22a10 10 0 1 0-8.45-4.64c.13.19.11.44-.04.61l-2.06 2.37A1 1 0 0 0 2.2 22H12Z") !important;
  border: 1px solid red;
  width: 12px;
}
/* using ServersList from DaBluLite */
































/* 




:root {
  --guild-list-width: 230px;
  --guild-list-height: 48px;
  --guild-item-radius: 0px;
  --guild-item-spacing: 8px;
  --guild-item-font-size: 16px;
}

.guilds__2b93a {
  width: 72px;
  transition: width 1s ease;
}

.guilds__2b93a:hover {
  width: var(--guild-list-width);
}

.guilds__2b93a .scroller__3d071 {
  display: flex;
  flex-direction: column;
}
.guilds__2b93a .scroller__3d071 div[style*="margin-bottom: 4px;"] {
  order: -99;
}

.listItem_fa7b36:has(.pill__6b31b .item_f9d377) [data-dnd-name]:has(>.wrapper__3af0b)::after {
  color: var(--interactive-active);
}

.listItem_fa7b36,
.wrapper_ed1dea,
.svg_ad7356,
.blobContainer__5ee50,
.listItem_fa7b36>.wrapper__3670f+div:not([class]),
.wrapper__3af0b,
.svg_ad7356>foreignObject {
  width: calc(var(--guild-list-width) - 12px);
  mask: none !important;
}

.listItem_fa7b36:not(:has(.guildSeparator_dcb3cc)),
.wrapper__3af0b,
.svg_ad7356>foreignObject {
  height: var(--guild-list-height);
}

.expandedFolderBackground__1bec6 {
  border-radius: 12px;;
  height: 100%;
}
.folder__17546 {
  background-color: transparent;
}
.svg_ad7356>foreignObject {
  transform: translateX(calc((((var(--guild-list-width) - 12px)*-1)/2) + 50%));
}

.wrapper_d281dd,
.folder__17546,
.circleIconButton_d8df29 {
  margin-left: 12px;
  width: calc(var(--guild-list-width) - 24px);
  justify-content: start;
  border-radius: 12px !important;
  height: var(--guild-list-height);
}

.wrapper_d281dd img,
.folderIconWrapper__72239,
.childWrapper__01b9c,
.expandedFolderIconWrapper__458cf,
.closedFolderIconWrapper__7321f {

  border-radius: 100%;

  height: var(--guild-list-height);
  width: var(--guild-list-height);
  transition: border-radius 0.2s ease;
}

.wrapper_d281dd:hover > img, 
.wrapper_d281dd:hover > .childWrapper__01b9c, 
.wrapper_d281dd.selected_f5ec8e > img{
  border-radius: 35%;
}
.svg_ad7356 {
  position: static;
}

[data-dnd-name]:has(>.wrapper__3af0b)::after {
  content: attr(data-dnd-name);
  width: calc(var(--guild-list-width) - 24px - var(--guild-list-height) - 12px);
  position: absolute;
  top: 0;
  left: 72px;
  flex-wrap: nowrap;
  align-items: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: var(--channels-default);
  font-size: var(--guild-item-font-size);
  line-height: var(--guild-list-height);
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  pointer-events: none;
  transition: color .15s ease-out, background-color .15s ease-out;
}

[data-dnd-name]:has(>.wrapper__3af0b .selected_f5ec8e, >.wrapper__3af0b .hover__043de)::after {
  color: var(--interactive-active);
}

:has(>.wrapper__3af0b .selected_f5ec8e, >.wrapper__3af0b .hover__043de) :is(.wrapper_d281dd, .folder__17546, .circleIconButton_d8df29) {
  background-color: var(--background-primary) !important;
}

.wrapperSimple_a34580 {
  border-radius: 0 !important;
}

.circleIcon__428dd {
  margin-left: 12px;
  height: var(--guild-list-height);
}

.circleIconButton_d8df29::after {
  content: attr(aria-label);
  width: calc(var(--guild-list-width) - 24px - var(--guild-list-height) - 12px);
  position: absolute;
  top: 0;
  left: 72px;
  align-items: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: var(--green-360);
  font-size: var(--guild-item-font-size);
  line-height: var(--guild-list-height);
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: color .15s ease-out, background-color .15s ease-out;
  pointer-events: none;
}

.circleIconButton_d8df29.selected__5250e::after,
.ColorwaySelectorBtn:hover::after {
  color: var(--interactive-active);
}

.wrapper_d281dd[data-list-item-id*="guildsnav___"]::after {
  content: attr(aria-label);
  width: calc(var(--guild-list-width) - 24px - var(--guild-list-height) - 12px);
  position: absolute;
  top: 0;
  left: 72px;
  align-items: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: var(--channels-default);
  font-size: var(--guild-item-font-size);
  line-height: var(--guild-list-height);
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: color .15s ease-out, background-color .15s ease-out;
  pointer-events: none;
}

.wrapper_d281dd[data-list-item-id*="guildsnav___"].selected_f5ec8e::after {
  color: var(--interactive-active);
}

.wrapper_ed1dea>[id*="folder-items-"] {
  height: fit-content !important;
}


.upperBadge_c7cfb3,
.lowerBadge__669e7 {
  position: absolute !important;

  margin-right: calc(100% - 60px);
  border: 4px solid var(--background-tertiary);
  border-radius: 20px;
}

.upperBadge_c7cfb3 {
  top: -3px !important;
}
.lowerBadge__669e7 {
  bottom: -3px;
}


.pill__13f64,
.wrapper__3670f,
.colorwaysBtnPill {
  height: var(--guild-list-height) !important;
  align-items: center;
}

.item_f9d377 {
  max-height: var(--guild-list-height);
}

.ColorwaySelectorBtn::after {
  position: static;
  height: unset !important;
  line-height: var(--guild-list-height);
  transform: translateX(6px);
}

.ColorwaySelectorBtn {
  gap: 0 !important;
}

.circleIcon__428dd {
  margin-left: 0;
}

.circleIcon__428dd {
  width: var(--guild-list-height);
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: calc(var(--guild-list-height)/7);
}

.blobContainer__5ee50 .wrapper_d281dd[data-list-item-id*="guildsnav___"]::after {
  content: none;
}

.listItem_fa7b36 {
  margin: 0 0 var(--guild-item-spacing);
}


 */




































/*  */
.sidebar_ded4b5 {
  border-radius: 16px;
}
.bannerImage__39c51::before {
  display: none;
}
.header__104ca {
  padding: 12px;
}
.headerContent_ee8727 {
  border: 0px solid green;
  filter: none !important;
}
.headerContent_ee8727 .guildIconContainer_a995c7,
.headerContent_ee8727 .guildIconV2Container__53cdb {
  background-color: var(--background-secondary);
  padding: 6px;
  border-radius: 20px 0px 0px 20px;
  margin-right: 0px;
}
.headerContent_ee8727 .name_c08dbc {
  background-color: var(--background-secondary);
  border-radius: 20px;
  display: unset;
  flex-grow: 0;
  flex-basis: auto;
  padding: 4px 10px;
  width: fit-content;
  max-width: 142px;
}
.headerContent_ee8727:has(.guildIconContainer_a995c7) .name_c08dbc,
.headerContent_ee8727:has(.guildIconV2Container__53cdb) .name_c08dbc {
  padding-left: 0px;
  border-radius: 0px 20px 20px 0px;
}
.headerContent_ee8727 .headerChildren__7cd0b {
  background-color: var(--background-secondary);
  border-radius: 20px;
  position: relative;
  margin-left: auto;
  /* display: none; */
}
.headerContent_ee8727 .button__07e07 {
  margin: 4px;
  margin-top: 4px;
  margin-left: 5px;
  margin-right: 5px;
  top: 4px;
}
.header__104ca:hover {
  background-color: transparent !important;
  transition: none;
}
.headerContent_ee8727:has(.favoritesIcon__95de7) .name_c08dbc {
  display: flex;
}
/* .header__104ca:hover .headerContent_ee8727 .guildIconV2Container__53cdb,
.header__104ca:hover .headerContent_ee8727 .name_c08dbc,
.header__104ca:hover .headerContent_ee8727 .headerChildren__7cd0b
{
  background-color: transparent;
  transition: background-color 0.1s linear 0s
} */
.container_de798d {
  text-transform: none;
  font-size: 13px;
  font-weight: 500;
}
/*  */
.container__8759a {
  padding: 0px;
  border-radius: 0px;
}
.interactive__776ee {
  background-color: var(--background-primary);
  border-bottom: 1px solid var(--background-accent);
}
.interactive__776ee:hover {
  background-color: var(--background-modifier-hover);
}
.interactiveSelected_ec846b {
  background-color: var(--background-modifier-selected);
}
/* first item */
.sidebar_ded4b5 .privateChannels__93473 .content__23cab > .container__8759a:first-of-type .interactive__776ee{
  border-radius: 12px 12px 0 0;
  /* border: 1px solid red; */
}

/* last child */
.sidebar_ded4b5 .privateChannels__93473 .content__23cab > .container__8759a:nth-last-child(1) .interactive__776ee {
  border-radius: 0 0 12px 12px;
  border-bottom: none;
}

/* first child below THING */
.sidebar_ded4b5 .privateChannels__93473 .content__23cab > .container_de798d + .container__8759a .interactive__776ee {
  border-radius: 12px 12px 0 0;
}

/* overrides ^^, last thing above THING */
.sidebar_ded4b5 .privateChannels__93473 .content__23cab > .container__8759a:has(+ .container_de798d) .interactive__776ee {
  border-radius: 0 0 12px 12px;
  border-bottom: none;
}

/* middle child? */
.sidebar_ded4b5 .privateChannels__93473 .content__23cab > div + .container__8759a:has(+ .container_de798d) > .interactive__776ee,
.sidebar_ded4b5 .privateChannels__93473 .content__23cab > .container_de798d + .container__8759a:only-child {
  border-radius: 12px;
  border-bottom: none;
}
/*  */
.channelEmoji_eda5df {
  display: none;
}
.link__95dc0 {
  padding: 6px 8px;
}
.containerDefault__3187b.selected__3b4cb .link__95dc0 {
  border-radius: 12px;
  border: 1px solid #ffffff1a;
  padding: 5px 7px;
}
.selected__471ca .content_b60865 {
  border: 1px solid #ffffff1a;
  margin-top: 0px;
  margin-bottom: 0px;
}
.selected__471ca .content_b60865 .userAvatar_c4f005 {
  margin-left: 7px;
}
.selected__471ca .content_b60865 .icons__10dd7 {
  margin-right: 7px;
}
.link__95dc0, 
.content_b60865,
.containerDefault__3187b:hover .link__95dc0, 
.emojiColorFill__3e432 {
  border-radius:12px;
}
.link__95dc0:has(.dots_a97068) .linkTop_eaa673 > div:last-child:has(.dots_a97068) {
  /* border: 1px solid red; */
  /* background-color: var(--brand-500);
  border: 4px solid var(--background-secondary); */
  padding-left: 0px;
  padding-right: 0px;
  height: 8px !important;
  border-radius: 12px;
  position: absolute;
  margin-left: 0px !important;
  left: -2px !important;
  top: 7px;
}
.link__95dc0:has(.dots_a97068) .linkTop_eaa673 > div:last-child:has(.dots_a97068) > svg {
  /* transform: scale(0.6, 0.6); */
}
.link__95dc0:has(.dots_a97068) .linkTop_eaa673 .iconContainer__3f9b0 {
  visibility: hidden;
}
.bar__004d9:not(.mentionsBar__4b47a) .unreadIcon_efbd40, .bar__004d9:not(.mentionsBar__4b47a) .barText__1a44f {
  color: var(--brand-400) !important;
}
.container_f87d43 .spineBorder_bdec8b {
  top: 4px;
}
.container_f87d43 .containerDefault__3187b .spine__88e6d > path {
  fill: transparent;
  display: none;
}
.container_f87d43 .containerDefault__3187b .spine__88e6d {
  border-left: 2px solid;
  border-bottom: 2px solid;
  border-bottom-left-radius: 12px;
}
.container_f87d43 .containerDefault__3187b .spine__88e6d:nth-child(2) {
  display: none;
}
.voiceChannelsButton__46c37 {
  border-radius: 16px;
}
.disabledButtonWrapper__69c70 {
  border-radius: 12px;
}
.container_ca50b9 {
  height: 61px;
  margin-bottom: 0px;
}
.container_ca50b9 .avatarWrapper_ba5175 {
  border-radius: 8px;
}
/*  */
.chat__52833 {
  margin-left: 8px;
  border-radius: 16px 0px 0px 16px !important;
  background-color: var(--background-tertiary);
}
.chat__52833:has(.members__9f47b) .chatContent__5dca8,
.chat__52833:has(.searchResultsWrap__9f374) .chatContent__5dca8,
.chat__52833:has(.profilePanel__12596) .chatContent__5dca8 {
  margin-right: 8px;
}
.chat__52833:has(.members__9f47b) .chatContent__5dca8,
.chat__52833:has(.searchResultsWrap__9f374) .chatContent__5dca8,
.chat__52833:has(.members__9f47b) .container_b181b6,
.chat__52833:has(.profilePanel__12596) .chatContent__5dca8 {
  border-radius: 0px 16px 16px 0px;
}
.chat__52833:has(.members__9f47b) .chatContent__5dca8 .scroller__1f96e::-webkit-scrollbar-track,
.chat__52833:has(.searchResultsWrap__9f374) .chatContent__5dca8 .scroller__1f96e::-webkit-scrollbar-track,
.chat__52833:has(.profilePanel__12596) .chatContent__5dca8 .scroller__1f96e::-webkit-scrollbar-track {
  margin-top: 6px;
}
.chat__52833:has(.members__9f47b) .container_b181b6 .scrollerBase_dc3aa9::-webkit-scrollbar-track {
  margin-top: 6px;
  margin-bottom: 6px;
}
.chat__52833:has(.members__9f47b) .container_b181b6 .thin_b1c063::-webkit-scrollbar {
  width: 16px;
  height: 16px; 
}
.chat__52833:has(.members__9f47b) .container_b181b6 .thin_b1c063::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  border: 4px solid transparent;
  border-radius: 8px;
  background-color: var(--scrollbar-auto-thumb);
  min-height: 40px;
}
.chat__52833:has(.members__9f47b) .container_b181b6 .thin_b1c063::-webkit-scrollbar-track {
  border: 4px solid transparent;
  background-clip: padding-box;
  border-radius: 8px;
  background-color: var(--scrollbar-auto-track);
}
.container__5c7e7, .applicationStore_fc7d76, .shop_b31ed2 {
  margin-left: 8px;
  border-radius: 16px 0px 0px 16px !important;
}
.innerWrapper_c80bad {
  border-radius: 20px;
}
.shop_b31ed2 .container__11d72 {
  border-radius: 16px 0px 0px 0px;
}
/*  */
.chatHeaderBar__28ee6 {
  border-radius: 0px 16px 0px 0px !important;
}
.container_b2ce9c, .members__9f47b, .searchResultsWrap__9f374 {
  border-radius: 16px 0px 0px 16px !important;
}
.container_d3a736 {
  background-color: var(--background-secondary);
}
.threadSidebarOpen_fa231d {
  border-radius: 16px !important;
}
.profilePanel__12596 .bannerSVGWrapper__3e7b0 {
  border-radius: 16px 0px 0px 0px;
}
.profilePanel__12596 .userPanelOuter__880e5,
.profilePanel__12596 .userPanelInner_eddf4c,
.profilePanel__12596 .userPanelInner_eddf4c::before,
.profilePanel__12596 .none__51a8f,
.profilePanel__12596 .none__51a8f::before {
  border-radius: 16px 0px 0px 16px !important;
}
/*  */
.toolbar__88c63 {
  border: 0px solid steelblue;
}
.toolbar__88c63 > div {
  /* border: 1px solid green; */
  height: 100%;
}
.toolbar__88c63 .iconWrapper_af9215 {
  border: 0px solid yellowgreen;
  display: flex;
  align-items: center;
  height: 100%;
}
.iconBadge_cc5031 {
  top: 18px;
  left: 15px;
}
.search__07df0 {
  display: block;
  order: -1;
}
.search_ac353c {
  height: 100%;
}
.searchBar_e0c60b {
  /* display: flex; */
  /* align-items: baseline; */
  border-radius: 16px;
  height: 100% !important;
  width: 100px;
  align-items: center !important;
  /* border: 1px solid red !important; */
  box-sizing: unset;
  flex-direction: row-reverse;
}
.searchBar_e0c60b .DraftEditor-root {
  margin-left: 24px;
  margin-right: 26px;
}
.searchBar_e0c60b .icon__46425 {
  display: flex;
  position: absolute;
  width: 100%;
  align-items: center;
  justify-content: center !important;
  /* border: 1px solid red; */
}
.searchBar_e0c60b .iconContainer__8fa9c {
  /* display: flex;
  flex-grow: 1; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  /* border: 1px solid green; */
}
.searchBar_e0c60b .iconContainer__8fa9c svg:first-child {
  opacity: 1;
  transform: none !important;
  width: 13px !important;
  left: 2px;
  /* background-color: aqua; */
}
.searchBar_e0c60b .iconContainer__8fa9c svg:last-child {
  transform: none !important;
  width: 13px !important;
  position: absolute;
  margin-left: 100% !important;
  left: -20px;
  /* opacity: 1; */
  /* background-color: tomato; */
} 
/* help me */
.public-DraftEditorPlaceholder-root{
  top: 6px;
}
.public-DraftEditorPlaceholder-root > div{
  padding-left: 3px;
}
.DraftEditor-editorContainer {
  height: 28px !important;
  /* ^^^ this is hardcoded for now :( */
}
.public-DraftEditor-content {
  padding-left: 0px !important;
  overflow: hidden !important;
}
.public-DraftEditorPlaceholder-root, .public-DraftEditor-content {
  padding-bottom: 0px !important;
}
.public-DraftEditor-content > div, .public-DraftEditor-content > div > div {
  height: 100% !important;
  border: 0px solid red;
}
.public-DraftStyleDefault-block {
  height: 28px;
  border: 0px solid green;
  display: flex;
  overflow: hidden !important;
  padding-top: 4px;
  padding-left: 6px;
  /* background-color: red; */
}
.public-DraftStyleDefault-block:has(.searchFilter__118cb) {
  display: block;
  padding-top: 0px;
  padding-left: 2px;
  margin-top: 2px;
}
.searchFilter__118cb {
  border-radius: 12px;
  height: 24px !important;
  background-color: var(--background-primary) !important;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 3px;
  padding-bottom: 2px;
}
.searchAnswer_b452e7 {
  border-radius: 0px 12px 12px 0px;
  height: 24px !important;
  background-color: var(--background-primary) !important;
  padding-right: 6px;
  padding-top: 3px;
  padding-bottom: 2px;
}
.public-DraftStyleDefault-block .searchFilter__118cb + .searchAnswer_b452e7 {
  border-radius: 0px 12px 12px 0px;
}
.public-DraftStyleDefault-block .searchFilter__118cb:has(+ .searchAnswer_b452e7) {
  border-radius: 12px 0px 0px 12px
}
.public-DraftStyleDefault-block > span {
  padding-top: 3px !important;
}
/*  */
.scrollerContent_c73942 {
  margin-bottom: 10px !important;
}
.chatContent__5dca8:has(.form__13a2c .base__512ed) .scroller__1f96e::-webkit-scrollbar-track {
  margin-bottom: 32px;
}
.chatContent__5dca8:has(.attachedBars_da3c74) .scroller__1f96e::-webkit-scrollbar-track {
  margin-bottom: 10px;
}
/*  */
.repliedMessage_e2bf4a::before {
  border-top-left-radius: 12px;
}
.cozy_f5c119.hasThread__58ee2:after {
  border-bottom-left-radius: 12px;
}
.embedFull__8dc21 {
  border: 4px solid currentColor;
  border-radius: 12px;
  border-top-color: transparent !important;
  border-bottom-color: transparent !important;
  border-right-color: transparent !important;
}
.embedFull__8dc21::before {
  content: "";
  position: absolute;
  width: 4px;
  background-color: var(--background-secondary);
  height: 100%;
}
.embedWrapper_c143d9, .imageWrapper_fd6587,
.spoilerContent__37bfa:has(.spoilerEmbed__9a546),
.clickableWrapper__64072 img,
.messageAttachment_b97504, .imageContainer__04362,
.attachment__7a2d0,
.embedVideo__0c65b,
.embedVideo__0c65b video,
.video__4c052 + .cover__0b3cf, .wrapper__3a7a0,
.wrapperAudio__555ce,
.attachment_f3cf2c,
.wrapper_efe67f,
.container__767d1 {
  border-radius: 12px !important;
}
.hoverButtonGroup__5b423, .hoverButton__13836 {
  border-radius: 8px;
}
.audioControls__9fbe9 {
  border-radius: 8px;
}
.textContainer__709ff {
  border-radius: 12px 12px 0px 0px!important;
}
.newMosaicStyle__8d3be:has(.footer__06f4b) .shiki-container .shiki-root{
  border-radius: 12px 12px 0px 0px;
}
.messageContent__21e69 > .shiki-container, .shiki-root{
  border-radius: 12px;
}
.hljs {
  border-radius: 12px;
}
.footer__06f4b {
  border-radius: 0px 0px 12px 12px!important;
}
.gifTag__9db5a {
  border-radius: 8px;
}
/*  */
.bottomControls__8bd89 .justifyCenter__4080c {
  background-color: var(--background-tertiary);
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 24px !important;
}
.bottomControls__8bd89 .controlButton_ab2899  {
  border-radius: 100% !important;
}
.container__77df0 {
  border-radius: 12px;
}
/*  */
.contentWrapper_b6ca57 {
  border-radius: 15px !important;
  border: 0px solid yellow;
}
.container__7712a {
  border-radius: 12px;
}
.command__88971 {
  border-radius: 12px;
}
/*  */
.autocomplete_df266d {
  border-radius: 12px;
}
.wrapper__19c60, .selected__608f1 {
  border-radius: 12px;
}
.base__76a71 {
  border-radius: 12px;
}
.scroller_e89578::-webkit-scrollbar-track {
  border: 0px solid red;
  margin-top: 12px;
  margin-bottom: 12px;
}
/*  */
.option_aec314 {
  border-radius: 12px;
}

fieldset.answerInputsContainer__22676 .defaultTextInputWrapper__4f24b,
.formInput_c28524, .addAnswerButton__0db97 {
  border-radius: 12px !important;
}
/*  */
.justifyStart__42744 {
  border-radius: 12px 12px 0px 0px;
}
.justifyBetween_b44898 {
  border-radius: 0px 0px 12px 12px;
}
.planOptionClickableContainer__8064d {
  border-radius: 12px;
}
.modalTextContainer_ddfc28 {
  border-radius: 12px 12px 0px 0px;
}
.modalTextContainer_ddfc28::-webkit-scrollbar-track {
  border: 0px solid red;
  margin-top: 10px;
}
/*  */
.header__6d5ea {
  border: 0px solid white;
}
.root_a28985 {
  border-radius: 16px;
}
.footer__89240 {
  border-radius: 0px 0px 16px 16px;
}
/*  */
.contentWrapper__321ed {
  border-radius: 12px;
}
#emoji-picker-tab-panel {
  border-radius: 0 0 12px 12px !important;
}
#emoji-picker-tab-panel .wrapper_cd625e {
border-radius: 0 0 0 12px !important;
}
#emoji-picker-tab-panel .header__55964{
  border-radius: 12px 12px 0 0 !important;
}
#emoji-picker-tab-panel .header__55964{
  border-radius: 12px 12px 0 0 !important;
}
.navItem_df0bc1  {
  border-radius: 8px !important;
}
.searchBar__8f956 {
  border-radius: 12px;
}
.diversitySelectorOptions__846c5, .diversityEmojiItem__6505f {
  border-radius: 12px;
}
.categoryItemDefaultCategorySelected__8245a, .categoryItemDefaultCategory__67fe7,
.stickerCategory__4891e{
  border-radius: 12px !important;
}
.picker__6dca7 {
  border-radius: 12px;
}
.newlyAddedHighlight_b1b06a {
  border-radius: 8px 8px 0 8px!important;
}
.newlyAddedBadge__97630 {
  border-radius: 0 0 8px 8px;
}
.newlyAddedHighlightContainer__974c5:has(li:only-child) .newlyAddedHighlight_b1b06a {
  border-radius: 8px 8px 0 0 !important;
}
.container_e4c233 {
  border-radius: 12px;
}
.result_e1fc74, .gif__2aa16, .categoryFadeBlurple_e73c11, .categoryFade_f9c843, .result_e1fc74::after {
  border-radius: 12px !important;
}

/*  */
.form__13a2c {
  border-top: 1px solid var(--background-secondary);
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 0px;
}
.form__13a2c::before {
  background: var(--background-primary) !important;
  width: 100%;
  height: 1px;
}
.form__13a2c:has(.buttonContainer__1c00c) .wrapper_fbbb73 {
  height: 30px
}
.form__13a2c .scrollableContainer__33e06::-webkit-scrollbar {
  width: 8px;
}
.form__13a2c .scrollableContainer__33e06::-webkit-scrollbar-thumb {
  border-right: 2px solid transparent !important;
  border-left: 2px solid transparent;
  background-clip: padding-box;
}
.wrapper_fbbb73 {
  margin: 0px;
  border-radius: 0px;
  height: 27.6px;
}
.jumpToPresentBar__0ff7f {
  display: contents;
}
.jumpToPresentBar__0ff7f > button:first-child {
  display: none;
}
.jumpToPresentBar__0ff7f > button:last-child {
  position: absolute;
  bottom: 22px;
  right: 22px;
  padding: 8px !important;
  height: auto;
  background-color: var(--background-accent);
  box-shadow: var(--elevation-high);
  border-radius: 100% !important;
  font-size: 0px;
  z-index: 999;
}
.chatContent__5dca8:has(.form__13a2c .base__512ed) .jumpToPresentBar__0ff7f > button:last-child {
  bottom: 42px;
}
.jumpToPresentBar__0ff7f > button:last-child:active {
  bottom: 20px;
}
.jumpToPresentBar__0ff7f > button svg {
  margin: 0px;
  height: 24px;
  width: 24px;
}
.base__512ed {
  /* border: 0px solid blue; */
  background: var(--channeltextarea-background) !important;
  top: -25px;
  padding-left: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
.attachedBars_da3c74 {
  border-radius: 0px;
  margin-bottom: 8px;
  margin-top: -8px;
}
.channelAttachmentArea__740bf {
  padding-top: 10px;
  overflow-x: scroll !important;
}
.channelAttachmentArea__740bf .upload_c98ecb {
  min-width: 80px;
  max-width: 80px;
  min-height: 80px;
  max-height: 80px;
  border-radius: 8px;
}
.upload_c98ecb .actionBar__3cdab {
  visibility: hidden;
}
.upload_c98ecb .actionBar__3cdab .wrapper_c727b6 {
  border-radius: 8px;
}
.upload_c98ecb:hover .actionBar__3cdab {
  visibility: visible;
}
.upload_c98ecb .icon_c2f643 {
  width: 100%;
  height: 100%;
  /* zoom: 0.5; */
  background-size: contain;
  background-repeat: no-repeat;
}
/*  */
.cooldownWrapper_de448f {
  padding-right: 4px;
}
.container__48210 {
  margin-right: 4px;
}
.channelTextArea__2e60f {
  margin-bottom: 8px;
  background-color: transparent !important;
}
.channelTextArea__2e60f > .scrollableContainer__33e06{
  margin-top: 8px;
}
.form__13a2c:has(.channelAttachmentArea__740bf) .channelTextArea__2e60f {
  margin-bottom: 8px;
  margin-top: 0px;
}
.form__13a2c:has(.channelAttachmentArea__740bf) .inner__9fd0b {
  margin-top: 9px;
}
.form__13a2c:has(.attachedBars_da3c74) .base__512ed {
  top: -32px;
}
.barBase__4e0ba {
  border-radius: 0px 0px 12px 12px;
  left: 0px;
}
.scrollableContainer__33e06 {
  background: none;
}
.sansAttachButton__996a4 {
  padding-left: 12px;
  right: 0px;
}
.textArea__74543 {
  background: var(--channeltextarea-background);
  border-radius: 20px 0px 0px 20px;
}
.textAreaDisabled__60cc6 {
  border-radius: 20px;
}
.inner__9fd0b:not(.separator__8424b) {
  border: 0px solid green;
  margin-right: 8px;
}
.textArea__74543 > div > div{
  margin-left: 12px;
}
.expression-picker-chat-input-button.buttonContainer__8b164{
  align-items: baseline;
}
.buttons_ce5b56 {
  height: unset;
}
.buttons_ce5b56 .button_afdfd9 {
  position: sticky !important;
  top: 0px !important;
  height: 44px;
}
.buttons_ce5b56 > div:not(.separator__8424b) {
  background-color: var(--channeltextarea-background);
}
.buttons_ce5b56 > button:not(.separator__8424b) {
  background-color: var(--channeltextarea-background);
  border-radius: 0px !important;
  height: unset;
  align-items: baseline;
}
.buttons_ce5b56 > button:not(.separator__8424b) .button_f0455c {
  position: sticky !important;
  top: 5.5px !important;
}
/* ^ fix for gift button not aligning when attachment exists */
.form__13a2c:has(.channelAttachmentArea__740bf) .buttons_ce5b56 > button:not(.separator__8424b) .button_f0455c {
  margin-top: 5.5px !important;
}
/* best fix of all time */
.buttons_ce5b56 > div:has(+ .separator__8424b){
  border-radius: 0px 20px 20px 0px;
}
.buttons_ce5b56 > div:not(:has(.separator__8424b)):last-child {
  border-radius: 0px 20px 20px 0px;
}
.form__13a2c:has(div:only-child:is(.separator__8424b)) .textArea__74543 {
  border-radius: 20px;
}
/*  */
.message__80c10 .editor__66464 {
  padding-left: 0px;
}
.separator__8424b::before {
  display: none;
}
.attachButton_eba568 {
  background-color: var(--channeltextarea-background);
  margin-left: -4px;
  border-radius: 100% !important;
  width: 44px;
  height: 44px;
  margin-right: 16px !important;
}
.attachButton_eba568:has(.icon_e5875d) {
  margin-right: 8px !important;
}

/* .form__13a2c:has(.attachedBars_da3c74) .attachButton_eba568 {
  margin-right: 0px;
} */
.form__13a2c:has(.attachedBars_da3c74) .buttons_ce5b56 > div:nth-last-child(2) {
  padding-right: 2px;
}
.icon_e5875d {
  padding-left: 10px;
}
.activityButton__14226 {
  background-color: var(--channeltextarea-background);
  /* margin-left: 14px; */
  border-radius: 100% !important;
  width: 44px;
  height: 44px;
  /* !! removed the button because its now in the context menu for attachment button !! */
  display: none;
}
.buttonChild__7b90d {
  padding: 0px;
}
.innerButton_debeee {
  /* border: 1px solid green; */
  padding-right: 4px;
  margin-left: 8px;
  margin-right: 8px;
}
.button__8d734 {
  background-color: var(--channeltextarea-background);
  border-radius: 100% !important;
}
.buttonContainer__9b459:has(.activeButtonChild__6e162) .button__8d734 {
  background-color: var(--brand-500);
  transition: background-color 0.25s ease-in-out 0s;
}
.activeButtonChild__6e162 .sendIcon__461ff {
  color: var(--white-500);
}
.activeButtonChild__6e162:hover {
  background-color: var(--brand-500);
}
.userPanelInner_eddf4c .bannerSVGWrapper__3e7b0 .banner__6d414 {
  border-radius: 0px !important;
}
.userPanelOverlayBackground__34fc8 {
  border-radius: 12px;
}
.input_d266e7 {
  border-radius: 8px;
}
/* MEMBER LIST */
.member_b44d5d {
  background: none;
}
.member_aa4760 {
    background-color: var(--background-primary);
    opacity: 1;
    border-radius: 0;
    padding: 0;
    border-bottom: 1px solid var(--background-accent);
}
.member_aa4760:hover {
  background-color: var(--background-modifier-hover);
}
.member_aa4760.selected__9800b {
  background-color: var(--background-modifier-selected);
}
.memberInner_a32223 {
  background-color: transparent !important;
}

/* first member item */
.members__9f47b > .member_aa4760:first-of-type {
  border-radius: 12px 12px 0 0;
  /* border: 1px solid red !important; */
}
/* last? member item */
/* 1. find 2nd to last member item */
/* 2. find 1st to last member item */
/* 3. last one does the same as (2nd) */
.members__9f47b > .member_aa4760:nth-last-of-type(2), .members__9f47b > .member_aa4760:nth-last-of-type(1), .content__23cab > .member_aa4760:nth-last-of-type(1) {
    border-radius: 0 0 12px 12px;
    border-bottom: none;
    /* border: 1px solid palevioletred !important; */
}
/* same thing as above ^^^^^^^^^^^^^^^^^^^^^ */
.members__9f47b > .member_aa4760:nth-last-of-type(1) {
    border-radius: 0 0 12px 12px;
    border-bottom: none;
    /* border: 1px solid yellow !important; */
}
/* first member item + the one BELOW GROUP */
.membersGroup__85843 + .member_aa4760 {
    border-radius: 12px 12px 0 0;
    /* border: 1px solid red !important; */
}
/* overrides ^^ + last item + ABOVE GROUP */
/* shows an error but thats fine */
.member_aa4760:has(+ .membersGroup__85843) {
    border-radius: 0 0 12px 12px;
    border-bottom: none;
    /* border: 1px solid green !important; */
}
/* 1. only-child */
/* 2. in list, find group ADJACENT to ITEM without any class above not matching DIV (only-child) */
.membersGroup__85843 + .member_aa4760:has(+ .membersGroup__85843),
.members__9f47b > .membersGroup__85843 + .member_aa4760:has(+ div:not([class])) {
    border-radius: 12px;
    border-bottom: none;
    /* border: 1px solid yellow !important; */
}
/* last/first/single child? keeping it either way */
.membersGroup__85843 + .member_aa4760:nth-last-of-type(1) {
    border-radius: 12px;
    border-bottom: none;
}
/* offline user */
.offline_c1fd80 > div {
    opacity: .3;
}
/*  */
.item__48dda, .selected__5711d {
  border-radius: 12px !important;
}
/* duped override for the above */
.item_e4ca95 {
  border-radius: 8px !important;
}
/*  */
.container__467eb {
  border-radius: 16px;
}
.container_de00a3 {
  border-radius: 12px;
}
.container_d5f6d0 {
  border-radius: 12px;
}
.previewContainer_c7e80d, .previewContainer_d2b616 {
  border-radius: 12px;
}
.upsellContainer__12e24 {
  border-radius: 12px;
}
.tierHeader__5bf89 {
  border-radius: 12px 12px 0px 0px !important;
}
.tierBody__615a1 {
  border-radius: 0px 0px 12px 12px;
}
.tierHeaderWithoutCardBody__1282a  {
  border-radius: 12px !important;
}
.placeholderCard__622e2 {
  border-radius: 12px;
}
.descriptionBox_cca0c3 {
  border-radius: 12px;
}
/* app directory */
.searchBox_a63854 {
  border-radius: 12px;
}
.category_ba5745 {
  border-radius: 12px;
}
.card__834d4 {
  border-radius: 12px;
}
.container__7b33c {
  border-radius: 12px;
}
.container_a6c201 {
  border-radius: 12px;
}
/*  */
.copyInput_c1c679 {
  border-radius: 12px;
}
.changelog__6d46d, .safetyChecklist__826c8 {
  border-radius: 12px !important;
}
.auditLog__6c805, .header_e08fd2 {
  border-radius: 16px;
}
.auditLog__6c805:has(.headerExpanded__03c29) .header_e08fd2{
  border-radius: 16px 16px 0px 0px;
}
.changeDetails_ecd760 {
  border-radius: 0px 0px 16px 16px ;
}
.bannedUser__38b44 {
  border-radius: 12px;
}
.upsellContainer__978df {
  border-radius: 12px;
}
.upsellFooter__63475 {
  border-radius: 0px 0px 12px 12px;
}
/*  */
.searchResult_dcd237 {
  border-radius: 12px;
}
.button_f8244b {
  border-radius: 8px;
}
/*  */
.userPopoutOuter_d739b2 {
  border-radius: 20px !important;
}
.userProfileModalOuter__3fe6b, .root_ba16f0 {
  border-radius: 20px !important;
}
.userProfileModalInner__7c87d::before {
  border-radius: 16px !important;
}
.topSection_dfb73b {
  border-radius: 20px !important;
}
.userPopoutInner_f545a3::before {
  border-radius: 16px;
}
.userProfileModalOverlayBackground__52d65, .userPopoutOverlayBackground_d8afa4 {
  border-radius: 12px;
}
/* to fix weird pfp hover */
.avatarHintInner__3d1c9 {
  border-radius: 50%;
}
.optionBox__0338f {
  border-radius: 12px;
}
.bannerSVGWrapper__3e7b0,
.bannerSVGWrapper__3e7b0 .banner__6d414 {
  border-radius: 16px 16px 0px 0px;
}
.profileBadges__7a7cb, .badgeList_c193e3, .badgeList_ef4131 {
  border-radius: 12px;
}
.role__631a3 {
  border-radius: 8px;
  padding-left: 1px;
  padding-bottom: 3px;
}
.userProfileModalOuter__3fe6b .tabBarItem_b56b35 {
  border-radius: 0px !important;
}
.connectedAccountContainer__23f00 {
  border-radius: 16px;
}
.inputWrapper__934f5 {
  border-radius: 12px;
}
/*  */
.group__6ae8b, .group__6ae8b .item_f48d11 {
  border-radius: 8px;
}
/*  */
.sidebar__9e3e2 .side_b4b3f6 > .header_f72511 .headerText__94c22{
  text-transform: none;
  font-size: 14px;
  font-weight: 600;
  overflow: hidden;
}
.sidebar__9e3e2 .side_b4b3f6 .item__48dda {
  /* border-radius: 8px !important;
  background-color: var(--background-primary); */
  border-radius: 0 !important;
  margin-bottom: 0px;
  background-color: var(--background-primary);
  border-bottom: 1px solid var(--background-accent);
}
.sidebar__9e3e2 .side_b4b3f6 .item__48dda:hover {
  background-color: var(--background-modifier-hover);
}
.sidebar__9e3e2 .side_b4b3f6 .item__48dda.selected__5711d {
  background-color: var(--background-modifier-selected) !important;
}
/* first item */
.sidebar__9e3e2 .side_b4b3f6 > .header_f72511 + .item__48dda,
.sidebar__9e3e2 .side_b4b3f6 > .separator_fdbcfd + .item__48dda {
  border-radius: 12px 12px 0 0 !important;
}
/* last item */
.sidebar__9e3e2 .side_b4b3f6 > .item__48dda:has(+ .separator_fdbcfd) {
  border-radius: 0 0 12px 12px !important;
  border-bottom: none;
}
/* single child */
.sidebar__9e3e2 .side_b4b3f6 > .header_f72511 + .item__48dda:has(+ .separator_fdbcfd),
.sidebar__9e3e2 .side_b4b3f6 > .separator_fdbcfd + .item__48dda:has(+ .separator_fdbcfd) {
  border-radius: 12px !important;
  border-bottom: none;
}
/* single child part 2 */
.sidebar__9e3e2 .side_b4b3f6 > .separator_fdbcfd + .item__48dda:last-child {
  border-radius: 12px !important;
  border-bottom: none;
}
/* nitro tab */
.sidebar__9e3e2 .side_b4b3f6 > .header_f72511 + .premiumTab__57bdc.item__48dda .selectedBackground_d847da{
  border-radius: 12px 12px 0 0;
}
/*  */
.tabBarItem_ad34cc, .brand_ce3ecf  {
  border-radius: 0px !important;
}
.cardPrimary_cb7a0e  {
  border-radius: 16px;
}
.connectContainer__8050b, .connection_fff5f6 {
  border-radius: 16px !important;
}
.connection_fff5f6, .connectionHeader__3c82d {
  border-radius: 16px 16px 0px 0px;
}
.connection_fff5f6, .connectionOptionsWrapper_abe849 {
  border-radius: 0px 0px 16px 16px;
}
.promotionCard__8581c {
  border-radius: 16px;
}
.card__4dc22 {
  border-radius: 16px;
}
.cameraWrapper__1ee6d {
  border-radius: 16px;
}
.browserNotice__5180b {
  border-radius: 16px;
}
/*  */
.accountProfileCard__22589 {
  border-radius: 16px;
}
.bioTextArea_a108c9 {
  border-radius: 12px;
  background-color: var(--channeltextarea-background) !important;
}
.bioTextArea_a108c9 .editor__66464 {
  margin-left: 0px;
}
.row_c1b980 {
  border-radius: 12px;
}
.premiumFeatureBorder__9bbb3 {
  border-radius: 16px;
}
.recommendedServerCard__70a39 {
  border-radius: 16px;
}
.swatch__96672 {
  border-radius: 12px;
}
.upsellOverlayContainer__08979 {
  border-radius: 12px !important;
  border: 0px;
}
.item_b7fb7e {
  border-radius: 12px;
}
.radioBar__40e1b {
  border: 1px solid var(--radio-bar-accent-color);
  border-radius: 12px;
}
/*  */
.menu_dc52c6 {
  border-radius: 12px;
}
.focused__27621 {
  border-radius: 8px;
}
.buttonsInner_bca8fa {
  border-radius: 8px;
}
/*  */
.browser_fece63, .container__6604b {
  border-radius: 12px;
}
/*  */
.messagesPopoutWrap_b3b384, .messageGroupWrapper_f8c6e9 {
  border-radius: 12px;
}
.jumpButton__0329d {
  border-radius: 8px;
}
.content__4bf10:has(.threadSidebarOpen_fa231d) .chat__52833,
.content__4bf10:has(.chatSidebarOpen_dfaa6a) .callContainer_cbde45 {
  border-radius: 0px 16px 16px 0px;
}
.container_def45c, .container_def45c .chatContent__5dca8 {
  border-radius: 16px 0px 0px 16px !important;
}
/*  */
.container__20de0 {
  border-radius: 16px;
}
/*  */
.container_d6dad3 {
  border-radius: 12px;
}
.option_b5597b {
  border-radius: 8px;
}
/*  */
.tooltip__01384 {
  border-radius: 12px;
}
.popout__24e32 {
  border-radius: 16px;
}
.popout_a6e77f {
  border-radius: 12px !important;
}
.select__0eb48 {
  border-radius: 12px !important;
}
.container__03857 {
  border-radius: 12px;
}
.container_d27846 {
  border-radius: 12px;
}
.noiseCancellationPopout__06ec4{
  border-radius: 16px;
}
/*  */
button, input {
  border-radius: 12px !important;
}
.select__0eb48 {
  border-radius: 12px;
}
.item__183e8 {
  border-radius: 8px;
}
.track_a48141 .markDash_dc3ae9 {
  height: 20px !important;
  /* border: 1px solid red; */
}
.bar_e58961 {
  height: 2px;
}
.grabber_d2868c {
  height: 16px;
  width: 16px;
  top: 56% !important;
  margin-left: -8px;
  border-radius: 100%;
  background-color: var(--brand-500);
  border: none;
}
/*  */
.popout_a6e77f {
  border-radius: 12px;
}
.popoutContainer__7b9a3 {
  border-radius: 12px;
}
.streamPreview__1846c {
  border-radius: 12px !important;
}
.reactionTooltip__9384a {
  border-radius: 12px !important;
}
/* random fixes */
.activityButton__14226 {
  position: sticky;
  top: 0px !important;
}
.imageWrapper_fd6587{
  border-radius: 0px !important;
}
.modal_d2e7a7 .embedMedia_b473d2 {
  border-radius: 0px !important;
}
/*  */
.quickswitcher_a3d29a {
  border-radius: 16px;
}
.quickswitcher_a3d29a .result__25f11 {
  border-radius: 12px;
}
/* discord please hire better css devs */
.iconContainer__3f9b0:has(.wrapper_edb6e0) > svg{
  display: none !important;
}
/*  */
/*  */
/*  */
.vc-addon-card {
  border-radius: 16px;
}
.vc-settings-theme-links {
  border-radius: 16px;
}
.vc-permviewer-perms-list-item {
  border-radius: 12px;
}
.vc-permviewer-perms-perms-item-icon {
  border-radius: 8px;
}
#vc-experiments-warning-card {
  border-radius: 12px;
}
.vc-rdb-view .vc-rdb-review {
  /* background-color: red; */
  border-radius: 8px;
}
.vc-rdb-view .vc-rdb-review .avatar__08316 {
  margin-left:5px;
}
.userPopoutInner_f545a3 .vc-rdb-input {
  border: none;
}
.userPopoutInner_f545a3 .vc-rdb-input .textArea__74543 {
  margin: 0px;
  /* height: 0px !important; */
  margin-top: 1px !important;
}
.userPopoutInner_f545a3 .vc-rdb-input .textArea__74543, 
.userPopoutInner_f545a3 .vc-rdb-input .buttons_ce5b56 > div {
  background-color: transparent;
}
.userPopoutInner_f545a3 .vc-rdb-input .textArea__74543 {
  border: 1px solid #ffffff1a;
  border-radius: 12px 0px 0px 12px;
  border-right: none;
}
.userPopoutInner_f545a3 .vc-rdb-input .scrollableContainer__33e06 {
  padding-top: 2px;
  padding-bottom: 1px;
}
.userPopoutInner_f545a3 .vc-rdb-input .buttons_ce5b56 {
  border: 1px solid #ffffff1a;
  margin-top: -px;
  border-radius: 0px 12px 12px 0px !important;
  border-left: none;
  margin-top: 1px !important;
}
.userPopoutInner_f545a3 .vc-rdb-input .buttons_ce5b56 .button_afdfd9 {
  height: 41px;
  margin-top: -1px;
}
.layer_ad604d .vc-rdb-modal-footer > div {
  margin-left: 0px;
  margin-right: 0px;
}
.layer_ad604d .vc-rdb-modal-footer > div .vc-rdb-review {
  margin-left: 16px !important;
  margin-right: 16px !important;
}
.layer_ad604d .vc-rdb-input {
  background-color: transparent;
  margin-left: 3px;
}
.vc-rdb-input .textArea__74543 > div > div{
  padding-left: 0px;
}
/*  */
